h1 {
  text-align: center;
}
.frame {
  height: 250px;
  width: 200px;
  border: 1px solid black;
  display: inline-block;
  margin: 8px 8px;
  text-align: center;
  border-radius: 5px;
}
.circle {
  height: 170px;
  width: 170px;
  border: 1px solid black;
  border-radius: 50%;
  margin: 10px 10px 10px;
}

#colorname{
  background-color: red;
}

#hex{
  background-color:#152a17;
}

#rgb {
  background-color: rgb(218, 7, 102);
}
#rgba{
  background-color: rgba(218, 7, 102, 0.4);
}
#hsl{
  background-color: hsl(211,30%,30%);
}
#hsla {
  background-color: hsla(57, 85%, 49%, 0.3);
}
