* {
  font-family: Arial;
}

/* unvisited links */
a:link {
  text-decoration: none;
}

/* hovered link */
a:hover {
  color: orange;
}

/* active links */
a:active {
  color: lawngreen;
}

/* visited link */
a:visited {
  color: red;
}

/* checked */
input[type="checkbox"]:checked {
  outline: 2px solid rgb(243, 23, 111);
}

/* disable box */
input[type="text"]:disabled {
  color: black;
  background-color: lightgrey;
}

/* focus on input */
#cool:focus {
  background: aqua;
}

/* nth child */
p:nth-child(odd) {
  color: green;
}
